*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display:  flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.music-player{
  background: #ebe3e4;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}
.music-player h1 {
  font-size: 24px;
  color: #333; 
  margin-bottom: 10px;
}
.music-player p {
  font-size: 16px;
  color: #555; /* Jasnoszary */
  margin-bottom: 20px;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
nav .circle{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #4c91e0;;
  color: #fff;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

nav .circle:hover{
  background:  #2a6bb8;
  transition: 0.2s all;
}

.song-img{
  width: 220px;
  border-radius: 50%;
  border: 6px solid #535b64;
  box-shadow:  0 10px 60px rgba(255, 26, 26, 0.22);
}
.music-player h1{
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}
.music-player p{
  font-size: 14px;
  color: #333;
}
#progress{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #4c91e0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow:  0 5px 5px rgba(255, 26, 26, 0.22);
}
.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls div{
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #4c91e0;
  box-shadow:  0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}
.controls div:hover {
  color: #2a6bb8; /* Ciemniejszy niebieski na hover */
}
.controls div:nth-child(2){
  transform: scale(1.5);
  background: #fff;
  color: #4c91e0;
}



